[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torchvision = "==0.11.1"
matplotlib = "==3.5.0"
scipy = "==1.7.3"
ipykernel = "==6.5.1"
torch = "==1.10.0"
numba = "==0.55.2"
tqdm = "==4.62.3"
cython = "==0.29.24"
numpy = "==1.22.4"
onnx = "==1.10.2"
onnxruntime = "==1.11.1"
onnx2pytorch = "==0.4.1"
protobuf = "==3.19.3"

[dev-packages]
pre-commit = "==2.15.0"
flake8 = "==4.0.1"
black = "==22.3.0"
isort = "==5.10.1"
mypy = "==0.910"
pylint = "==2.12.1"
gurobipy-stubs = "==1.0.1"

[requires]
python_version = "3.8"
